


    /* --font-crimson: "Crimson Pro", serif;
    --font-jakarta: "Plus Jakarta Sans", serif;
    --font-inter: Inter, sans-serif;
    --font-roboto: Roboto, serif;
    --font-notoserif: "Noto Serif", serif;
    --font-ibmplex: "IBM Plex Serif", sans-serif;
    --font-poppins: Poppins, sans-serif;
    --font-robotomono: "Roboto Mono", monospace;
    --font-jbmono: "JetBrains Mono", monospace;
    --font-courierprime: "Courier Prime", monospace;
    --font-sourceserif: "Source Serif 4", serif;
    --font-newsreader: Newsreader, serif;
    --font-bahn: "Bahnschrift Condensed", "Roboto Condensed", sans-serif;
    --font-robotocondensed: "Roboto Condensed", sans-serif; */