---
import Title from './Title.astro';

interface Props {
    title: string;
    list: string;
    isOdd?: boolean;
}

const { title, list, isOdd = true } = Astro.props;
---

<Title title={title}/>
<ul class="min-w-0 flex flex-wrap gap-4 items-center text-sm">
    {
        list.split(", ").map
        (item =>
            <li class:list={[   "py-0.5 border-b-2 border-transparent",
                                isOdd && "odd:border-new-text-450", 
                                !isOdd && "even:border-new-text-450"
                            ]}>{item}</li>
        )
    }
</ul>