---
interface Props {
    where: string;
    when: string;
    title: string;
    list: string;
    isEnd?: boolean;
}

const {where, when, title, list, isEnd = false} = Astro.props;
---

<div class=" ml-0.5 space-y-0.5 block border-l-4 border-new-text-450 pl-1">
    <div class="font-medium">{where}</div>
    <div class="text-sm text-gray-500">{when}</div>
</div>

<div class:list={['min-w-0', isEnd && 'mb-1']}>
    <div class="italic bg-new-text-400 pl-2">{title}</div>
    <ul class="list-disc list-inside">
        <!-- Built a prototype for a modern social platform focused on structured discourse.
        Core logic in Go, and performant modules in C++.
        Frontend developed with Svelte 5 and Tailwind.
        Planned cloud-native systems using Docker, CI/CD, and Cloud Storage.
        Investigated AV1 and VP9 video codecs, CUDA encoding, and ASICs. -->
        {list.split("\n").map(item => <li>{item}</li>)}
    </ul>
</div>

<!-- <li>Built a prototype for a modern social platform focused on structured discourse.</li>
        <li>Core logic in Go, and performant modules in C++.</li>
        <li>Frontend developed with Svelte 5 and Tailwind.</li>
        <li>Planned cloud-native systems using Docker, CI/CD, and Cloud Storage.</li>
        <li>Investigated AV1 and VP9 video codecs, CUDA encoding, and ASICs.</li> -->