---
interface Props {
    title: string;
    isRow?: boolean;
}

const { title, isRow = false } = Astro.props;
---

<h2 class:list={["m-0 text-lg font-semibold inter", isRow && "mt-1 col-span-2"]}>{title}</h2>